@charset "UTF-8";
:root {
    --prtimes-color: #294c7a;
    --prtimes-color-light: #3081c9;
    --prtimes-color-light-hover: #59a7e6;
    --prtimes-color-background: #f1f1f1;
    --prtimes-color-border: #dfdfdf;
    --prtimes-color-str-white: #BFC9D7;
    --prtimes-color-str-gray: #a2a2a2;
    --prtimes-color-str-black: #3b3b3b;
    --prtimes-font-size: 13px;
    --prtimes-font-size-small-12: 12px;
    --prtimes-font-size-small-11: 11px;
}

* {
    font-family: system-ui, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

a {
    color: black;
    text-decoration: none
}

li {
    list-style: none;
    margin: 0;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.bold {
    font-weight: bold;
}

.str-white {
    color: var(--prtimes-color-str-white);
}

.str-gray {
    color: var(--prtimes-color-str-gray);
}

.str-black {
    color: var(--prtimes-color-str-black);
}

/* header */
.header-container {
    padding-block: 10px;
    background-color: var(--prtimes-color);
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-logo {
    display: flex;
    justify-content: center;
}
.header-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-description {
    color: var(--prtimes-color-str-white);
    font-size: var(--prtimes-font-size-small-12);
    margin-left: 12px;
    font-weight: normal;
}

.header-nav {
    margin-left: 40px;
}
.header-nav-ul {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5px;
    border-radius: 5px;
}
.header-nav-ul li a {
    color: white;
    font-size: var(--prtimes-font-size);
    text-decoration: none;
    padding-inline: 10px;
}
.header-nav-ul li .line{
    border-right: 1px solid var(--prtimes-color-str-white);
}
.header-nav-ul li a:hover {
    text-decoration: underline;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.header-search form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-search input[type="text"] {
    border: none;
    height: 30px;
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
    font-size: var(--prtimes-font-size);
    width: 260px;
}
.header-search input[type="text"]:focus {
    outline: 0;
}
.header-search button[type="submit"]{
    cursor: pointer;
    border: none;
    background: #3081C9;
    color: #fff;
    height: 30px;
    border-radius: 0 5px 5px 0;
}

.header-link {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.header-link-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link-ul li a {
    color: var(--prtimes-color-str-white);
    font-size: var(--prtimes-font-size);
    text-decoration: none;
    padding-inline: 10px;
}
.header-link-ul li .line {
    border-right: 1px solid var(--prtimes-color-str-white);
}
.header-link-ul li .bold {
    color: white;
    font-weight: bold;
}
.header-link-ul li .no-space {
    padding-inline: 0px 10px;
}
.header-link-ul li a:hover {
    color: white;
}

/* nav */
.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px
}
.nav-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 5px;
}
.nav-ul li a {
    color: var(--prtimes-color);
    font-size: var(--prtimes-font-size);
    text-decoration: none;
    padding-inline: 10px;
}

.nav-ul li a:hover {
    font-weight: bold;
}

/* main */
.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ranking */
.ranking {
    --prtimes-ranking-card-width: 181px;
    --prtimes-ranking-card-height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ebebeb;
    border-top: 1px solid var(----prtimes-color-border);
    flex-wrap: wrap;
}

.ranking-item {
    position:  relative; 
    background-color: white;
    width: var(--prtimes-ranking-card-width);
    height: var(--prtimes-ranking-card-height);
    margin: 20px 5px 20px 5px;
}
.ranking-container {
    position: absolute; 
    height: var(--prtimes-ranking-card-height);
}

.ranking-container .ranking-item-title {
    transition: color 0.3s;
}
.ranking-container:hover .ranking-item-title {
    color: var(--prtimes-color-light);
    text-decoration: underline;
}

.ranking-item-rank {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: var(--prtimes-color);
    padding: 0 8px 0 5px;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    width: 24px;
    height: 24px;
}
.ranking-item-img {
    object-fit: contain;
}
.ranking-item-content-body {
    position: relative;
    margin: 10px;
}
.ranking-item-title {
    font-size: var(--prtimes-font-size);
    color: var(--prtimes-color-str-black);
    font-weight: normal;

    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ranking-item-info {
    position: absolute;
    bottom: 5px;
    left: 10px;

    width: calc(var(--prtimes-ranking-card-width) - 20px);
}
.ranking-item-time {
    color: var(--prtimes-color-str-gray);
    font-size: var(--prtimes-font-size-small-11);
}
.ranking-item-company:hover {
    color: var(--prtimes-color-str-black)
}
.ranking-item-company {
    color: var(--prtimes-color-str-gray);
    font-size: var(--prtimes-font-size-small-11);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* main */
.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 15px 15px;
}

/* new release */
.release {
    --prtimes-release-card-width: 380px;
    --prtimes-release-card-height: 110px;
    margin-bottom: 20px;
    width: 780px;
}
.release-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.release-title {
    margin-bottom: 20px;
    color: var(--prtimes-color-str-black);
}

.release-item {
    position: relative;
    width: var(--prtimes-release-card-width);
    height: var(--prtimes-release-card-height);
    border-bottom: 1px solid var(--prtimes-color-border);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.release-container {
    display: flex;
    justify-content: center;
}

.release-item-img {
    object-fit: contain;
}
.release-container .release-item-title {
    transition: color 0.3s;
}
.release-container:hover .release-item-title {
    color: var(--prtimes-color-light);
    text-decoration: underline;
}

.release-item-title {
    font-size: var(--prtimes-font-size);
    color: var(--prtimes-color-str-black);
    font-weight: normal;

    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.release-item-info {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: calc(var(--prtimes-release-card-width) - 100px);
}
.release-item-time {
    color: var(--prtimes-color-str-gray);
    font-size: var(--prtimes-font-size-small-12);
}
.release-item-company:hover {
    color: var(--prtimes-color-str-black)
}
.release-item-company {
    color: var(--prtimes-color-str-gray);
    font-size: var(--prtimes-font-size-small-12);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.release-button-more {
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    background-color: var(--prtimes-color-light);
    padding: 10px 30px 10px 30px;
    color: white;
    font-weight: bold;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.release-button-more:hover {
    background-color: var(--prtimes-color-light-hover);
}

/* keyword */
.keyword {
    width: 300px;
    margin: 30px 15px 15px 15px;
}
.keyword-title {
    margin-bottom: 20px;
    color: var(--prtimes-color-str-black);
}

.keyword-budge-ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--prtimes-color-border);
    row-gap: 10px;
    column-gap: 9px;
}

.keyword-budge-item {
    font-size: var(--prtimes-font-size);
    line-height: 22px;
    padding: 0 8px;
    background-color: var(--prtimes-color-background);
    border-radius: 11px;
}
.keyword-budge-item:hover a {
    color: var(--prtimes-color-light);
}

.keyword-budge-item-more {
    font-size: var(--prtimes-font-size);
    line-height: 22px;
    padding: 0 8px;
    color: var(--prtimes-color-str-black);
    border-radius: 90px;
    border: 1px solid var(--prtimes-color-background);
}
.keyword-budge-item-more:hover a {
    color: var(--prtimes-color-light);
}
